
//Variabler
/* Light Mode: */
$lightmode-background: #10141e;
$lightmode-text: #d6ded6;
$lightmode-footer-bg: #010101;

/* Dark mode: */
$darkmode-background: #10141e;
$darkmode-text: #dcddde;
$darkmode-mid: #9da0a5;
$darkmode-footer-bg: #dcddde;

/* Olika fonts för olika delar text */
$breadfont: Montserrat, Helvetica, sans-serif;
$accentfont: Inconsolata, Helvetica, sans-serif;
$headingfont: Montserrat, Helvetica, sans-serif;


//Mixins

/* Mixin för transition med vendor prefixes (jag tror inte man behöver det, men är osäker, så de får vara med ändå) */
@mixin transition {
    transition: 0.8s ease;
    -webkit-transition: 0.8s ease;
    -moz-transition: 0.8s ease;
}


/* Mixin för att centrera saker  */
@mixin center($horizontal, $vertical) {
    @if $horizontal and $vertical {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    } @else if $vertical {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    } @else if $horizontal {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
