@use 'base';

/* Utgår från darkmode. Darkmode kommer i en media query */
body {
    background-color: base.$darkmode-background;
    font-family: base.$breadfont;

    /*BAKGRUNDSBILD*/
    .wrapper {
        min-height: 100vh; // Säkerställer att wrappern täcker hela höjden
        background-image: url('/bilder/background_small.webp'); // Standardbakgrund
        background-size: cover; // Täcker hela området
        background-position: center; // Centrerar bilden
        
        // Anpassar bakgrundsbilden baserat på skärmstorlek med media queries
        @media (min-width: 701px) and (max-width: 1200px) {
          background-image: url('/bilder/background_small.webp');
        }
        @media (min-width: 1201px) {
          background-image: url('/bilder/background_large.jpg');
        }
      }
}

/* HEADER */
header {
    width: 100%;
    position: relative;
    img {
        width: 100%;
    }
    .header-flex {
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: absolute;
        top: 0;
        /* Specifikt för landing page: */
        img#logotyp {
            max-width: 40%;
            width: 200px; 
            margin: 0.5em;
            position: relative;
            z-index: 2;
        }
    }
    /* DESKTOP-NAVIGERING */
    nav.desktop {
        width: 56%;

        ul {
            /* Lista ska också bli flex så den kan spridas ut lite, som en menyrad*/
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            padding: 0.5em 1em 0.5em 0.5em;
            border-radius: 10px 0 0 10px;
            @include base.transition;

            &:hover {
                /* Gör hover-effekt där menyraden får mörkare bakgrund */
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
        .desktop-menu-item {
            /* Själva li */
            font-family: base.$accentfont;
            font-size: 1.1em;
            a {
                /* Länkarna i list items */
                text-decoration: none;
                color: base.$lightmode-text;
                padding: 0.8em;
                position: relative; /* För att strecken under ska ha pos: absolute */
                text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
            }
            a:after {
                /* Gör streck under länkarna */
                content: '';
                width: 0%;
                height: 3px;
                background-color: base.$lightmode-background;
                position: absolute;
                bottom: 0;
                left: 0;
                @include base.transition;
            }
            a:hover:after {
                /* Visa strecket vid hover */
                width: 100%;
            }
            a[aria-current='page']:after {
                /* Statiskt streck under den länk som hör till sidan man befinner sig på */
                content: '';
                width: 100%;
                height: 3px;
                background-color: base.$lightmode-background;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
    /* MOBILMENY */
    div.mobile-menu {
        /* Dölj i desktopläge */
        display: none;
        .burger-button {
            /* Button som omger burger bars */
            border: none;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0);
            position: relative;
            top: 1.5em;
            right: 2em;
            z-index: 2;

            &:hover .burger-bar {
                background-color: lighten(base.$lightmode-text, 10%);
            }
        }
        .burger-bar {
            display: block;
            width: 40px;
            height: 3px;
            margin: 5px;
            background-color: black;
            @include base.transition;
        }

        /* AKTIV HAMBURGARE */
        .burger-button.active .burger-bar {
            background-color: base.$lightmode-text;
        }
        .burger-button.active:hover .burger-bar {
            background-color: lighten(base.$lightmode-text, 10%);
        }
        .burger-button.active .burger-bar:first-child {
            transform: translateY(8px) rotate(225deg);
        }
        .burger-button.active .burger-bar:nth-child(2) {
            opacity: 0;
        }
        .burger-button.active .burger-bar:last-child {
            transform: translateY(-8px) rotate(-225deg);
        }
        /* Ul-element får regler och skickas ut till höger för att döljas när den är inaktiv */
        nav.mobile-menu-items {
            height: fit-content;
            width: 100%;
            border-radius: 0 0 50% 50%;
            position: fixed;
            left: 0;
            top: -505%;
            background-color: base.$lightmode-background;
            @include base.transition;

            .mobile-menu-item {
                font-family: base.$accentfont;
                font-size: 1.1em;

                margin: 5em 50%;
                li {
                    margin-top: 3em;
                }
                a {
                    color: base.$lightmode-text;
                    position: relative;
                    padding: 0.5em 0;
                }
                a[aria-current='page']:after {
                    /* Statiskt streck under nuvarande sida  */
                    content: '';
                    width: 100%;
                    height: 3px;
                    background-color: base.$lightmode-text;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
        /* Visas när den är aktiv */
        nav.mobile-menu-items.active {
            top: 0;
            z-index: 1;
        }
    }
}

h1 {

    font-family: base.$headingfont;
    letter-spacing: 1;
    color: base.$lightmode-text;
}

h2 {

    font-family: base.$headingfont;
    letter-spacing: 1;
    color: base.$lightmode-text;
}

/* Sätt maxbredd på allt textinnehåll  */
.subtitle {
    font-weight: 500;
    color: base.$lightmode-text;
    font-size: 1.0em;
    margin-bottom: 5rem;
    margin-top: 5rem;
    width: fit-content;
    margin: auto;
    p {
        max-width: 35em;
    }
    p:not(.no-top-margin) {
        margin-top: 2em;
    }
}

/* Sökfunktionen */
.search-container {
    width: 70%;
    margin: 1em auto;

    label[for='search'] {
        display: block;
    }
    input[type='search'] {
        width: 80%;
        padding: 0.5em;
        border-radius: 12px;
        font-family: base.$breadfont;
        border-width: 1px;
        border-color: base.$lightmode-text;
        font-size: 0.9em;
    }
    .searchButton {
        padding: 0.5em;
        font-family: base.$breadfont;
        border-radius: 10px;
        background-color: base.$lightmode-text;
        border: none;
        color: white;
        cursor: pointer;
        @include base.transition;
        font-size: 0.9em;

        &:hover {
            background-color: lighten(base.$lightmode-text, 10%);
        }
    }
}


/* FOOTER */
footer {
    background-color: base.$lightmode-footer-bg;
    /* Text  */
    p {
        color: base.$lightmode-text;
        text-decoration: dotted underline 2px;
        width: fit-content;
        margin: auto;
        padding-bottom: 1em;
    }
}


