@import 'base';
@import 'layout';
@import 'animations';

// MOBIL-NAV 
//media query för att hantera visningen på små skärmar
 @media (max-width: 768px) {
    .header .mobile-menu-icon {
        display: block;
        }
        
    .header .desktop-menu {
        display: none;
        }
        
    .header .mobile-menu {
        transform: translateX(0);
        }
    }

    .wrapper {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  
    @media (min-width: 701px) and (max-width: 1200px) {
      background-image: url('/bilder/background_small.webp');
    }
    @media (min-width: 1201px) {
      background-image: url('/bilder/background_large.jpg');
    }
  }

